
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url(/fonts/ProximaNova/proximanova_regular.ttf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url(/fonts/ProximaNova/proximanova_bold.otf);
}