:root {
    --text-color: #333746;
    --page-bg: #393d46;
    --page-bg-light: #f9f9f9;
    --accent: #F6AC38;
    --accent-dark: #e89e2c;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Proxima Nova';
    font-weight: 400;
    background-color: #2a2d32;
    color: var(--text-color);
}

/* ---------- GENERAL ---------- */

.container {
    padding: 0 30px;
}

.wrapper {
    max-width: 480px;
    margin: 0 auto;
    background-color: white;
}

.btn {
    width: 100%;
    padding: 30px 0;
    font-size: 26px;
    color: var(--text-color);
    font-family: 'Acrom', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 35px;


    background: rgb(239,227,86);
    background: linear-gradient(180deg, rgba(239,227,86,1) 0%, rgba(239,227,86,1) 1%, rgba(253,174,49,1) 100%);

    box-shadow: 0px 3px 0px 0px rgba(220,161,47,1);
    text-shadow: 0px 2px 0px rgb(239,227,86);
}

.btn:hover {
    text-decoration: underline;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn a {
    color: inherit;
}

.title-2 {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 35px;
}

.title-2 em {
    color: var(--accent-dark);
    font-style: normal;
}

/* ---------- HEADER ---------- */

/* ---------- HEADER TOP ---------- */

.header__top {
    background: white;
    padding: 5px 0;
    
}
.header__top-text {
    font-family: 'Proxima Nova';
    font-weight: 600;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
}

/* ---------- HEADER MAIN ---------- */

.header__main {
    position: relative;
    padding-top: 10px;
    text-align: center;
    background-color: var(--page-bg);
}

.header__title-text {
    font-size: 24px;
    font-weight: 600;
    color: var(--accent);
    text-transform: uppercase;
    line-height: 140%;
    font-family: 'Acrom', sans-serif;
    font-weight: 600;
}

.header__title-text em {
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

/* ---------- HEADER PRICE ---------- */

.header__banner {
    position: relative;
    bottom: 10px;
    z-index: 1;
}
.header__price {
    background-color: white;
    border-radius: 35px;

    font-size: 18px;
    line-height: 30px;
    overflow: hidden;

    display: flex;
    justify-content: center;
   
}

.header__price-left {
    flex-basis: 50%;

    padding: 15px 0;
}
.header__price-right {
    position: relative;
    color: white;
    padding: 15px 0;
    flex-basis: 50%;

    background-color: var(--accent-dark);

}

.header__price-right:after {
    position: absolute;
    content: '';
    height: 100%;
    left: 0px;
    top: 50%;
    border-left: 15px solid white;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform:translateY(-50%);
}

.price-text {
    font-size: 33px;
    
}

.price-text span {
    text-transform: uppercase;
    font-size: 26px;
}
uah {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: normal;
}
.price-text_right {
    font-weight: 600;
}

.price__block {
    display: flex;
    justify-content: center;
}

/* ---------- HEADER INFO ---------- */

.header__info {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 26px;
    margin-top: -20px;
    z-index: 9;
}
.header__info-block {

   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;

   width: 140px;

}
.header__info-circle {
    width: 30px;
    height: 30px;
    background-color: var(--accent);
    border-radius: 50%;
    position: relative;
}


.header__info-circle img {
    position: absolute;
    top: 4px;
    left: 3px;
}

/* ---------- HEADER BUTTON ---------- */

.header__button {
   padding: 50px 0 30px;
}

/* ---------- REVIEW ---------- */

.review {
    padding: 35px 0;
    background-color: var(--page-bg-light);
}



.review__content {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    font-size: 17px;
    line-height: 26px;
}

.videos__content {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    margin-bottom: 15px;
}
.review__block {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.review__block p {
    text-align: justify;

}

/* ---------- ADVANTAGES ---------- */

.advantages {
    padding: 35px 0;
    background-color: var(--page-bg);
    color: white;
}

.advantages__cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    color: var(--text-color);
    font-size: 17px;
    line-height: 24px;

    margin-bottom: 40px;
}
.advantages__card {
    display: flex;

    border-radius: 35px;
    background-color: white;
    overflow: hidden;
}

.advantages__text {
    padding: 15px 0 0 8px;
}
.advantages__text:hover,
.advantages__title:hover {
    text-decoration: underline;
}

.advantages__text b {
    font-size: 18px;
}

.advantages__card-left {
    padding: 0 0 5px 15px;
}

/* ---------- CHARACTERISTIC ---------- */

.characteristic {
    padding: 35px 0;
    background-color: var(--page-bg);
    color: white;
    font-size: 18px;
}

.characteristic__nh {
    padding-top: 30px;
}

.characteristic__info {
    display: grid;
    grid-template-columns: 0.36fr 0.66fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.characteristic__info div:hover {
    text-decoration: underline;
}

/* ---------- BUTTON ---------- */

.button {
    padding: 25px 0;
    background-color: #2f3340;
}

/* ---------- REVIEWS ---------- */

.reviews {
    padding: 35px 0;
    background-color: var(--page-bg);
    text-align: center;
}

.review__title {
    color: white;
    margin-bottom: 10px;
}

.reviews__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    color: white;
    font-size: 18px;

    margin-bottom: 20px;
}
.reviews__cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.reviews__card {
    background-color: white;
    border-radius: 35px;
    overflow: hidden;
}
.reviews__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 20px;
}
.reviews__about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews__info {
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: 15px;

}
.reviews__man {
    border-radius: 50%;
    overflow: hidden;
}
.reviews__bio {
    font-size: 18px;
    line-height: 26px;
}
.reviews__hangouts {
}
.reviews__text {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

/* ---------- DISCOUNTS ---------- */

.discounts {
    padding: 20px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.discounts__title {
    margin-bottom: 15px;
    font-size: 20px
}
.discounts__item {
    font-size: 22px;
}

/* ---------- DELIVERY ---------- */

.delivery {
    padding: 40px 0
}
.delivery__title {
    text-align: center;
    font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;

   margin-bottom: 30px;
}
.delivery__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.delivery__item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 18px;
}

.delivery__img {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    background-color: #02c300;
    border-radius: 50%;
}

.delivery__icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    height: 70px;
}

/* ---------- FORM ---------- */


.form {
    padding: 30px 0;
    color: white;
    text-align: center;
}
.form__title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    
}
.form__subtitle {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 20px;
}
.form-block {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
.input {
    color: var(--text-color);
    text-align: center;
    background-color: white;
    border-radius: 35px;
    padding: 30px 0;
    font-size: 20px;
}

select {
    text-align: center;
   cursor: pointer;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   
}

input::placeholder {
    color: var(--text-color);
}


.zero-option {
   
    width: 50px;
}

/* ---------- FOOTER     ---------- */

.footer {
    padding: 10px 0;
    text-align: center;
    background-color: white;
}

.footer__content {
    display: flex;
    flex-direction: column;
}
.footer__delivery {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    margin-bottom: 40px;
}

.footer__delivery-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer__delivery-left {
   flex-basis: 45%;
}
.footer__delivery-right {
    flex-basis: 50%;
}
.footer__text {
    font-size: 14px;
    line-height: 26px;

}

.market-trade {
    font-weight: 600;
}
.privacy {
    margin-bottom: 20px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.footer__icons img{
  width: 30px;
}


/* ---------- MEDIA ---------- */

@media (max-width: 430px) {
    .header__main {
        padding-top: 5px;
    }

    .header__top-text {
        font-size: 14px;
    }

    .header__title-text {
        font-size: 19px;
    }

    .header__price {
        font-size: 16px;
        line-height: 26px;
        border-radius: 27px;
    }

    .price-text {
        font-size: 26px;
    }

    .header__price-left {
        font-size: 14px;
        padding: 10px 0;
        line-height: 22px;
    }
    .header__price-right {
        padding: 10px 0;
        font-size: 14px;
        line-height: 22px;
    }

    .price-text span {
        font-size: 20px;
    }

    p uah {
        font-size: 20px;
        line-height: 26px;
    }

    .header__info-circle {
        width: 25px;
        height: 25px;
    }

    .header__info-text {
        width: 120px;
        font-size: 15px;
        line-height: 20px;
    }

    .btn {
        padding: 22px 0;
        font-size: 20px;
        border-radius: 27px;
    }

    .header__button {
        padding: 40px 0 20px;
    }

    .title-2 {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .review {
        padding: 30px 0;
    }

    iframe {
        height: 250px;
    }

    .review__content {
        font-size: 14px;
        line-height: 20px;
    }

    .advantages {
        padding: 30px 0;
    }

    .advantages__image {
        width: 130px;
    }

    .advantages__title b {
        font-size: 14px;
    }

    .advantages__text {
        padding: 10px;
        padding-bottom: unset;
        padding-right: unset;

    }

    .advantages__subtitle {
        font-size: 13px;
        line-height: 20px;
    }
    .advantages__card-left {
       padding-bottom: unset;
    }

    .advantages__cards {
        row-gap: 20px;
        margin-bottom: 32px;
    }

    .characteristic {
        padding: 30px 0;
        font-size: 14px;
    }

    .characteristic__info {
        grid-row-gap: 20px;
        grid-column-gap: 15px;
    }

    .characteristic__nh {
        padding-top: 25px;
        padding-bottom: unset;
    }

    .reviews {
        padding: 30px 0;
    }
    
    .review__title {
        margin-bottom: 10px;
    }

    .reviews__subtitle {
        font-size: 14px;
        column-gap: 5px;
    }

    .reviews__subtitle img {
        width: 30px;
    }

    .reviews__man {
        width: 60px;
    }
    
    .reviews__bio {
        font-size: 14px;
        line-height: 22px;
    }
    
    .reviews__hangouts {
        width: 35px;
    }

    .reviews__content {
        padding: 18px;
    }

    .reviews__text {
        font-size: 16px;
        line-height: 22px;
    }

    .discounts__title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .discounts__item {
        font-size: 18px;
        line-height: 26px;
    }

    .delivery__item {
        font-size: 14px;

    }

    .delivery__title {
        font-size: 20px;
    }

    .delivery__img {
        min-width: 70px;
        min-height: 70px;
    }

    .delivery__icon {
        width: 40px;
        height: 40px;
        
    }

    .form {
        padding: 20px 0;
    }

    .form-block {
        row-gap: 8px;
    }

    .form__title {
        font-size: 24px;
    }
    .form__subtitle {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .input {
        border-radius: 23px;
        padding: 20px;
        font-size: 15px;
    }

    .market-trade {
        font-size: 12px;
    }

    .privacy {
        font-size: 10px;
        margin: unset;
    }
    

}
