/* ---------- SWIPER ---------- */

.swiper-button-prev::after,
.swiper-button-next::after {
    color: var(--accent-dark);
}

.swiper-miniature{
    padding: 0px 5px 0;
    background-color: var(--page-bg);
}

.swiper-miniature-slide{
    opacity: 0.4;
}

.swiper-miniature .swiper-slide-thumb-active {
    opacity: 1;
  }