.swiper-button-prev::after,
.swiper-button-next::after {
    color: var(--accent);
}

.swiper-miniature {
    /* height: 20%; */
    /* box-sizing: border-box; */
    padding: 85px 5px 0;
    background-color: var(--page-bg);
}

.swiper-miniature-slide{
    opacity: 0.4;
}

.swiper-miniature .swiper-slide-thumb-active {
    opacity: 1;
  }